<div class="text-center container">
    <h2>About the Blacklist</h2>
    <p>Our company created an exclusive place for subscription companies to submit fradualent customers to help other businesses increase revenue by preventing unneccessary chargebacks.</p>
    
</div>

